ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  padding-bottom: 0.75rem;
}
li{
  text-align: left;
  margin-left: 1rem;
  padding-left: 1rem;
  margin: 0.5rem 0.5rem;
}
/* li::before {
  content: "+ ";
  font-weight: bold;
} */
ul li{
  list-style-position: inside;
}
li.nested-show::before {
  content: "- ";
}

li.nested-hide::before{
content: "+ ";}

li.nested-hide ul {
  display: none;
}
li:hover{
  cursor: pointer;
}
.lastChild{
  list-style: none;
}
.mainConatiner{
  display: flex;
  justify-content: space-between;
}
.navContainer{
  width: calc(40% - 100px);
  margin: 0 5px 10px 0;
  padding-left: 5rem;
  padding-right: 5rem;
  border: 1px solid black;
}
.nodeContainer{
  max-width: 500px;
  width: calc(40% - 10px);
  margin: 0 50px 10px 5px;
}
.list-item-remove{
margin-left: 10px;
padding:0px 5px;
}